.bigBox{
    width:100%;
    margin-top:20px;
    display: flex;
    justify-content: space-around;
}
.leftBigBox{
    width:20%;
    height:408px;
    padding-left:20px;
    padding-right:20px;
    background:white;
    padding-bottom:20px;
}
.leftBigBox h4{
    font-size:14px;
    color:#2b2b2b;
    line-height:60px;

}
.leftBigBox ul li{
    height:31px;
    padding-left:11px;
    line-height:31px;
    border-radius:3px;
    font-size:12px;
    color:white;
    margin-bottom:10px;
}
.leftBigBox ul li:first-child{
    background:#03a9f3;
}
.leftBigBox ul li:nth-child(2){
    background:#81c868;
}
.leftBigBox ul li:nth-child(3){
    background:#ffbd4a;
}
.leftBigBox ul li:nth-child(4){
    background:#f05050;
}
.leftBigBox ul li:nth-child(5){
    background:#8e5fa2;
}
.leftBigBox ul li:nth-child(6){
    background:#81c868;
}
.leftBigBox ul li:nth-child(7){
    background:#f05050;
}
.leftBigBox ul li:nth-child(8){
    background:#34d3eb;
}
.rightBigBox{
    width:72%;
    background:white;
}
#layer{
    margin:10px;
}
footer{
    margin-top:75px;
}

/* 媒体查询 */
@media screen and (max-width:1000px){
    .bigBox{
        width:100%;
        flex-wrap: wrap;
    }
    .leftBigBox{
        margin-left: 15px;
        margin-right:15px;
        width: 100%;
    }
    .rightBigBox{
        width:100%;
        margin-left: 15px;
        margin-right:15px;
        margin-top:30px;
    }

}